{
    "API_ID": 0,
    "API_HASH": "your_api_hash_here",
    "BOT_TOKEN": "your_bot_token_here",
    "USER_ID": 0,
    "DUMP_ID": 0,
    "PROXY": {
        "scheme": "socks5",
        "hostname": "127.0.0.1",
        "port": 7890
    }
} 